.input-style{
    height: 2.5em;
    width: 16em;
}

#form{
    display: flex;
    margin: auto 0;
}

.input-button{

    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 0.5em 4em;
    font-size: 1em;
    cursor: pointer;

}

.submit-search{
    /* content:url("https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-search-strong-128.png"); */
    width: 2rem;
    height: 2rem;
}